<mat-card class="card">
    <mat-card-header>
      <div class="card-content">
        <div class="stars-container">
        <mat-card-title>   
            <ng-container *ngFor="let i range(rating+1)">
              <mat-icon class="star-icon" color="accent">star</mat-icon>
            </ng-container>
          </mat-card-title>
        </div>
      </div>
      <div class="review">
      <button  *ngIf="canRemove()" mat-icon-button color="warn" class="close-button" aria-label="Close" (click)="removeReview()">
        <mat-icon class="icon">delete_outline</mat-icon>
      </button>
      </div>
      <div class="card-content Comment">
    </mat-card-header>
    <mat-card-content>{{ comment }}</mat-card-content>
    </div>
  </mat-card>
