<mat-card class="card">
  <mat-card-content class="content">
    <img *ngIf="image"
      [src]="image"
      [alt]="['Image of ', name]"
      class="product-image"
    />
    <label class="stock-label">
      <mat-icon class="status-icon" [ngClass]="{
        'green': stockStatus==='In Stock',
        'orange': stockStatus==='Low Stock', 
        'red': stockStatus==='Out Of Stock'}"
        ></mat-icon>
      {{stockStatus}}
    </label>
    <mat-card-title class="product-name">{{ name }}</mat-card-title>
    <div class="stars-container">
      <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
        <mat-icon class="star-icon" color="accent">star</mat-icon>
      </ng-container>
      <span class="reviews">10</span>
    </div>
    <div style="font-size: 1.2rem;">$<span style="display: inline; padding-left: 2px;" class="price">{{ price }}</span></div>
    
    <mat-card-actions>
      <button mat-icon-button [routerLink]="['/edit-product/', sku]" class="edit-button">
        <mat-icon class="icon">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" class="remove-button" aria-label="Remove" (click)="openDialog(template)">
        <mat-icon class="icon">delete_outline</mat-icon>
      </button>
    </mat-card-actions>
    <ng-template #template>
      <h2 mat-dialog-title>Delete Product?</h2>
      <mat-dialog-content>
        <p>Are you sure you want to delete {{ name }}?</p>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close color="warn" (click)="onDeleteProduct()">Confirm</button>
      </mat-dialog-actions>
    </ng-template>
  </mat-card-content>
</mat-card>