<div class="container">
    <h1 class="text-center">Add a Review</h1>
    <form [formGroup]="reviewForm" (ngSubmit)="create()">
        <div class="form-group">
            <button mat-icon-button [color]="color" *ngFor="let ratingId of stars; index as i" [id]="'star_'+i"
                (click)="onClick(i+1)" [matTooltip]="(ratingId).toString()" matTooltipPosition="above">
                <mat-icon>
                    {{showIcon(i+1)}}
                </mat-icon>
            </button>
            <mat-error *ngIf="starCount == null || starCount == 0">
                Star count is <strong>required</strong> and cannot be zero
            </mat-error>
        </div>

        <div class="form-group">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Comment</mat-label>
                    <textarea matInput formControlName="comment"></textarea>
                    <mat-icon matPrefix>edit_note</mat-icon>
                    <mat-hint>Comment about this product</mat-hint>
                </mat-form-field>
            </div>
            <button mat-raised-button class="submit-btn" color="primary" type="submit"
                [disabled]="!ratingSelected || rating < 0 || rating >5" (click)="create()">
                <span>Post</span>
            </button>
        </div>
    </form>
</div>