<div>
    <h1>Browse Through the Magic!</h1>
</div>
<div class="catalog">
    <mat-grid-list cols="4" rowHeight="250px">
        <mat-grid-tile  *ngFor="let product of products">
        <app-catalog-product-card 
            [name]="product.name"
            [price]="product.price"
            [description]="product.description.summary"
            [sku]="product.sku"
            [stock]="product.stockQuantity">
        </app-catalog-product-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>