<div class="container">
    <h1 class="text-center">Add New Product</h1>
    <form [formGroup]="createProductForm" (ngSubmit)="create()">
      <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Something magical..." required />
            <mat-icon matPrefix>edit</mat-icon>
            <mat-error *ngIf="createProductForm.controls['name'].hasError('required')">Name is required</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number" placeholder="0.00" required>
            <mat-icon matPrefix>attach_money</mat-icon>
            <mat-hint>The price of this product in USD</mat-hint>
            <mat-error *ngIf="createProductForm.controls['price'].hasError('required')">Price is required</mat-error>
            <mat-error *ngIf="createProductForm.controls['price'].hasError('pattern')">Price must be a decimal number with 2 decimal places</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Stock Quantity</mat-label>
            <input matInput formControlName="stockQuantity" type="number" placeholder="0" required />
            <mat-icon matPrefix>inventory</mat-icon>
            <mat-hint>Amount of this product you have in stock</mat-hint>
            <mat-error *ngIf="createProductForm.controls['stockQuantity'].hasError('required')">Stock Quantity is required</mat-error>
            <mat-error *ngIf="createProductForm.controls['stockQuantity'].hasError('pattern')">Stock Quantity must be a number</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Images</mat-label>
            <input matInput formControlName="images" type="text" />
            <mat-icon matPrefix>image</mat-icon>
            <mat-hint>Comma-separated image URLs</mat-hint>
            <mat-error *ngIf="createProductForm.controls['images'].hasError('pattern')">Images must be a comma-separated list of URLs</mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline">
            <mat-label>Summary</mat-label>
            <textarea matInput formControlName="summary"></textarea>
            <mat-icon matPrefix>edit_note</mat-icon>
            <mat-hint>A paragraph summary of this product</mat-hint>
            <mat-error *ngIf="createProductForm.controls['summary'].hasError('required')">Summary is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input matInput formControlName="tags" type="text" />
            <mat-icon matPrefix>label</mat-icon>
            <mat-hint>Comma-separated tags</mat-hint>
            <mat-error *ngIf="createProductForm.controls['tags'].hasError('pattern')">Tags must be a comma-separated list of words</mat-error>
          </mat-form-field>
      
          <button
            mat-raised-button
            class="submit-btn"
            color="primary"
            type="submit"
            [disabled]="!createProductForm.valid || isLoading || isSuccess"
            [ngClass]="{'disabled': isLoading}"
          >
            <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
            <mat-icon *ngIf="isSuccess && !isLoading">checkmark</mat-icon>
            <span #createButtonText>Add</span>
          </button>


      </div>
    </form>
  </div>
  