.card {
  max-width: 400px;
  margin: 1%;
}

.stock-label {
  position: relative;
  width: 130px;
  margin-top: 1px;
  padding-left: 17px;
  background-color: white;
}

.status-icon{ 
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #000000;
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translate(-50%, -50%); /* use translate to center the icon */

}

/**
Creates a radial gradient background with vendor prefixes for various browsers.
@param {string} $start-gradient - The starting color of the gradient.
@param {string} $mid-gradient - The middle color of the gradient.
@param {string} $end-gradient - The ending color of the gradient.
@example
@include radial-gradient(#fff, #ccc, #999);
*/
@mixin radial-gradient($start-gradient, $mid-gradient, $end-gradient) {
  background: -moz-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $start-gradient), color-stop(40%, $mid-gradient), color-stop(100%, $end-gradient));
  background: -webkit-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -o-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -ms-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: radial-gradient(ellipse at center, $start-gradient, $mid-gradient, $end-gradient);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-gradient}', endColorstr='#{$end-gradient}', GradientType=1);
}

.status-icon.green {
  $start-green: #87fd89 0%;
  $mid-green: #4bf14e 40%;
  $end-green: #07e10b 100%;
  @include radial-gradient($start-green, $mid-green, $end-green)
} 

.status-icon.orange {
  $start-orange: #ffb347 0%;
  $mid-orange: #ff9f1a 40%;
  $end-orange: #ff7f00 100%;
  @include radial-gradient($start-orange, $mid-orange, $end-orange)
}
    
.status-icon.red {
  $start-red: #fd8787 0%;
  $mid-red: #f14e4b 40%;
  $end-red: #e10704 100%;
  @include radial-gradient($start-red, $mid-red, $end-red)
}

:host {
  min-width: 250px;
}

.card:hover {
  cursor: pointer;
}

.card:hover .product-image {
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 365px;
}

.product-image {
  border-radius: 8px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.product-name {
  margin-top: .2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4; /* Set line-height for the product name */
  height: 2.8em; /* Set the height to be 2 lines high */
  overflow: hidden; /* Hide any text that goes beyond the specified height */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.stars-container .star-icon {
  font-size: 1rem;
  margin-right: -0.5rem;
}

.reviews {
  font-size: 0.875rem;
  margin-left: 0.25rem;
  padding-bottom: 4px;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

mat-card-actions button {
  font-size: 1rem;
}