<div>
    <h1>Admin Dashboard</h1>
    <nav>
        <button routerLink="/create-product" mat-raised-button color="accent" class="add-product">Add Product 
            <mat-icon>
            add-circle
            </mat-icon>
        </button>
    </nav>
    <div class="dashboard">
        <div class="product-grid">
            <app-admin-product-card *ngFor="let product of products"
                [name]="product.name"
                [price]="product.price"
                [description]="product.description.summary"
                [sku]="product.sku"
                [image]="(product.images && product.images.length > 0) ? product.images[0] : placeholder"
                [stock]="product.stockQuantity">
            </app-admin-product-card>
        </div>
    <div>
</div>
