.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2cm;
}

.product-image img {
  height: 100%;
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2cm;
  width: 100%;
}

.product-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.product-sku {
  font-size: 16px;
  color: #666666;
  margin-left: 10px;
}

.stock-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.stock-label .status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-right: 10px;
}

.stars-container {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.stars-container .star-icon {
  font-size: 1rem;
  margin-right: -0.5rem;
}

.reviews {
  font-size: 0.875rem;
  margin-left: 0.25rem;
  padding-bottom: 4px;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}

.price {
  display: inline;
  padding-left: 2px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.add-to-cart-button {
  margin-left: 2rem;
}

.description-container {
  margin-top: 10px;
}

.description-summary {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.description-tags {
  font-size: 16px;
  color: #666666;
  text-align: center;
}

@media (min-width: 960px) {
  .product-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .product-image img {
    max-width: 500px;
  }

  .product-details {
    margin-top: 0;
    width: auto;
    margin-left: 2cm;
    flex: 1;
  }

  .product-title {
    text-align: left;
  }
}

/**
Creates a radial gradient background with vendor prefixes for various browsers.
@param {string} $start-gradient - The starting color of the gradient.
@param {string} $mid-gradient - The middle color of the gradient.
@param {string} $end-gradient - The ending color of the gradient.
@example
@include radial-gradient(#fff, #ccc, #999);
*/
@mixin radial-gradient($start-gradient, $mid-gradient, $end-gradient) {
  background: -moz-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $start-gradient), color-stop(40%, $mid-gradient), color-stop(100%, $end-gradient));
  background: -webkit-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -o-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: -ms-radial-gradient(center, ellipse cover, $start-gradient, $mid-gradient, $end-gradient);
  background: radial-gradient(ellipse at center, $start-gradient, $mid-gradient, $end-gradient);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-gradient}', endColorstr='#{$end-gradient}', GradientType=1);
}

.status-icon.green {
  $start-green: #87fd89 0%;
  $mid-green: #4bf14e 40%;
  $end-green: #07e10b 100%;
  @include radial-gradient($start-green, $mid-green, $end-green)
} 

.status-icon.orange {
  $start-orange: #ffb347 0%;
  $mid-orange: #ff9f1a 40%;
  $end-orange: #ff7f00 100%;
  @include radial-gradient($start-orange, $mid-orange, $end-orange)
}
    
.status-icon.red {
  $start-red: #fd8787 0%;
  $mid-red: #f14e4b 40%;
  $end-red: #e10704 100%;
  @include radial-gradient($start-red, $mid-red, $end-red)
}
