<mat-card class="card">
  <div class="content">
    <mat-card-header>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>${{ price }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img *ngIf="image"
        [src]="image"
        [alt]="['Image of ', name]"
        class="product-image"
      />
      {{ description | slice:0:100 }}{{ description.length > 100 ? '...' : '' }}
    </mat-card-content>
  </div>
  <mat-card-actions align="end">
    <button
      mat-button
      color="primary"
      [routerLink]="['/catalog/', sku]"
    >
      Details
    </button>
    <button
      mat-button
      color="primary"
      (click)="addToCart(sku)"
    >
      Add To Cart
    </button>
  </mat-card-actions>
</mat-card>
