<div class="search-container">
  <input
    class="search-input"
    placeholder="Search products..."
    #searchBox
    id="search-box"
    aria-label="Search products"
    [matAutocomplete]="auto"
    (input)="search(searchBox.value)"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event, searchBox)">
    <mat-option *ngFor="let product of products$ | async" [value]="product">
      
      <ng-container *ngIf="(authService.getIsAdmin() | async); else elseBlock">
        <mat-icon>edit</mat-icon>
      </ng-container>
      <a>
        <span>{{ product.name }}</span> |
        <small>${{ product.price }}</small>
      </a>
      <ng-template #elseBlock>
        <button
          mat-icon-button
          aria-label="Add to cart"
          (click)="addToCart(product, $event, searchBox)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </ng-template>
      
    </mat-option>
  </mat-autocomplete>
</div>