<mat-form-field class="form-field" id="search-component">
  <input matInput placeholder="Search products..."
          #searchBox id="search-box"
          aria-label="Search products"
          [matAutocomplete]="auto"
          (input)="search(searchBox.value)" />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let product of products$ | async" [value]="product.name">
      <a routerLink="/catalog">
        <span>{{ product.name }}</span> |
        <small>${{product.price}}</small>
      </a>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<!-- <div id="search-component">
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let product of products$ | async" >
      <a routerLink="/detail/{{product.sku}}">
        {{product.name}}
      </a>
    </li>
  </ul>
</div> -->